*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    align-content: center;
    
}
.box1 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
 

}

nav{
    background-color:antiquewhite;
}

.box2 {
    height: 200px;
    width: 300px;  
    
    display: flex;
    flex-direction: row;
    align-items: start;
}


.box2{
   
    border: 4px solid black;
}

h1{
    text-align: center;
    color: black;
    font-size: 80px;   
}


 li a{
    padding: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: orangered
    
}

h2{
    color: #bd9d53;
}
a{
    text-decoration: none;
    color: blue;
}

#pie_items{
    background-color: aqua;
    margin-top: 100px;
    display: flex;
}
.cajita1{
    display: flex;
    flex-direction: row;
    align-content: start;
}


#pie_items h4{
    color: #bd9d53;
}

.cajita1 ul li{
    padding-bottom: 10px;
    list-style-type:square
}
.cajita2 ul li{
    list-style-type: none;
  
}
.cajita2{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.cajita3{
   display: flex;
   flex-direction: row;
}

form label input{
    background-color: aqua;
}

footer{
    background-color: black;
}
footer p{
    color: aliceblue;
    font-weight: bold;
}

ol li{
    background-color: aqua;
    display: flex;   
}
div h3{
    color: #bd9d53;
    background-color: blue; 
}   

#nuestrasTortas img{
    width: 1000px;
}   
#nuestrosPanes img{
    width: 1000px;
}   

#productos{
    display: grid;
    grid-template-areas: 
    "facturas facturas facturas"
    "masitas masitas masitas"
    "pastafrolas pastafrolas pastafrolas";
    
}
.facturas{
    grid-area: facturas;
}
.masitas{
    grid-area: masitas;
}
.pastafrolas{
    grid-area: pastafrolas;
}
